* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.card-container {
  margin: 50px 0;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.cart-warning {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal-container{
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 15px;
  scrollbar-width: thin;
  scrollbar-color: #90A4AE ;
}
.model{
  display: flex;
  align-items: center;
  width: 450px;
  border: 3px solid rgb(78, 78, 78);
  margin-bottom: 15px;
  padding: 10px;
}
.model > img{
  margin-right: 50px;
  padding: 10px;
}
.model-para > p{
  margin-top: 5px;
}